$bg: radial-gradient(95.47% 71.89% at 93.07% 74.31%, #45278B 0%, #2E335A 100%);
$item-bg: #1F1D47;
$border: 1px solid rgba(255, 255, 255, 0.5);
$hover: #C427FB;
$offset: 24px;
$offset-m: 12px;
$offset-x: 6px;